@{
    ViewData["Title"] = "Home Page";
}
<head>
	<link rel="stylesheet" href="~/css/index.css">
	<script src="~/js/index.js"></script>
</head>
<body>
<div class="content">
  <div class="welcomeText">
    <div class="welcome">
      <h1 class="greet">Welcome to ParkYou</h1>
    </div>
    <div class="subText">
      <div class="subTexts">
        When you're on the go, the free ParkMobile app makes it easy to find and pay for parking without running back to feed the meter. And for added convenience, you can reserve spots ahead of time.
      </div>
    </div>
  </div>
</div>
</body>
